# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
.python-version

# VS Code
.vscode/

# Secrets
client_secrets.json
.streamlit/secrets.toml

# Build/output files
*.so
*.dylib
*.egg-info/
dist/
build/

# System files
.DS_Store
__pycache__/